<div class="wrapper">

    <div class="filter">
      <button
      mat-fab
      class="example-icon"
      (click)="openDialog()">
      <mat-icon><span class="material-icons-outlined">
        filter_list
        </span></mat-icon>
    </button>
    </div>

    <div class="books">
        <div class="book-wrapper" *ngFor="let book of books">
            <app-card-book [book]="book"></app-card-book>
        </div>
    </div>
    <div>
        <mat-paginator [pageIndex]="meta.page - 1"
         [length]="meta.records" [pageSize]="meta.limit"
         [pageSizeOptions]="[5, 10, 25, 100]"
         (page)='handlePage($event)'>
        </mat-paginator>
    </div>
</div>