.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}
.book-wrapper{
    margin: 10px 15px;
}

@media (max-width: 768px){
    .book-wrapper{
        margin: 7px 10px;
    }
}
@media (max-width: 560px){
    .book-wrapper{
        margin: 5px 8px;
    }
}