@import 'src/mat-theme.scss';
$primary: map-get($my-primary, default);
$accent: map-get($my-accent, 100);

.page{
    height: 100%;
    padding: 10px;
}

.form-wrapper{
    max-width: 500px;
    margin: 20px auto 0;
}
