.books{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}
.book-wrapper{
    margin: 10px 15px;
}
.filter{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    &:hover{
        transform: scale(1.02);
    }
}

@media (max-width: 768px){
    .book-wrapper{
        margin: 7px 10px;
    }
}
@media (max-width: 560px){
    .book-wrapper{
        margin: 5px 8px;
    }
}