
<div *ngIf="genresData$ | async as genresList"
    class="full-width genre-autocomplete"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
>
  <mat-chip-list>
    <mat-chip 
        *ngFor="let genre of value"
        (click)="onFocusOut($event)"
        (removed)="deleteGenre(genre)">
      {{genre.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input matInput
        type="text"
        class="genre-input"
        [formControl]="genresControl"
        #search name="search"
        [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" >
        <mat-option
            *ngFor="let genre of (genresList | hideSelectedGenres: value) "
            [value]="genre"
        >
          {{genre.name}}
        </mat-option>
    </mat-autocomplete>

  </mat-chip-list>
</div>




