<div class="wrapper">
    <div class="create-body">

        <div class="back-wrapper">
            <button (click)="navBack()" class="back" mat-icon-button color="primary">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <form [formGroup]="form" #createForm>
            <mat-form-field class="full-width"  appearance="fill">
                <mat-label>title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>

            <mat-form-field class="full-width"  appearance="fill">
                <mat-label>price</mat-label>
                <input matInput type="number" formControlName="price">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput type="text" 
                  (input)="handleInput(search.value)"
                  formControlName="author"
                  #search name="search"
                  appAuthor [authors]="authorsList"
                  [matAutocomplete]="auto"
                >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFullNameAndTakeId">
                  <mat-option *ngFor="let author of authorsList" [value]="author">
                    {{getFullName(author)}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div formArrayName="genres" class="genres-array full-width">
                <mat-form-field *ngFor="let genreCtrl of genres.controls; let i = index"
                 class="full-width genres-field" appearance="fill">
                    <mat-label>genre {{i + 1}}</mat-label>
                    <mat-select #genreSelect [formControlName]="i">
                        <mat-option *ngFor="let genre of (genresList | filterGenres:genres) " [value]="genre">
                            {{genre.name}}
                        </mat-option>
                    </mat-select>
                    <button type="button" *ngIf="i > 0" (click)="deleteGenreSelect(i)" class="delete-select" mat-icon-button color="warn">
                        <mat-icon class="icon">clear</mat-icon>
                    </button>
                </mat-form-field>
                <button type="button"
                 (click)="addGenreCtrl()"
                 class="add-genre" 
                 mat-raised-button 
                 color="accent"
                 [disabled]="isAddGenreDisabled">
                    <mat-icon class="icon">add</mat-icon>
                    add genre
                </button>
            </div>

            <mat-form-field class="full-width"  appearance="fill">
                <mat-label>description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Writing date</mat-label>
                <input matInput [matDatepicker]="writing" formControlName="writingDate">
                <mat-datepicker-toggle matSuffix [for]="writing"></mat-datepicker-toggle>
                <mat-datepicker #writing></mat-datepicker>
                <mat-error>
                    Must be less than release date!
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Release date</mat-label>
                <input matInput [matDatepicker]="release" formControlName="releaseDate">
                <mat-datepicker-toggle matSuffix [for]="release"></mat-datepicker-toggle>
                <mat-datepicker #release></mat-datepicker>
                <mat-error>
                    Must be more than writing date!
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <button mat-raised-button color="primary" type="reset">Reset</button>
                <button mat-raised-button
                 color="primary" 
                 (click)="submit()"
                 [disabled]="form.invalid || form.pristine">
                 Submit
                </button>
            </div>

        </form>
    </div>
</div>
