@import 'src/mat-theme.scss';
$primary: map-get($my-primary, default);
$accent: map-get($my-accent, 100);

.switchers{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    a{
        font-size: 18px;
        cursor: pointer;
        border-bottom: 2px solid rgba(180, 175, 175, 0.541);
        transition-duration: 0.3s;
        &.active{
            border-bottom: 2px solid $primary;
        }
        &.blocked{
            cursor: default;
            color: rgb(117, 114, 114);
        }
    }
}
